<div class="d-flex justify-content-center align-items-center px-4 py-5 text-center banner">
    <h1 class="display-5 fw-bold">Customize Your Favorite Movies List</h1>
  </div>
<% @lists.each do |list| %>
  <%= link_to list.name , list_path(list)%>
<% end %>

<%= link_to 'New List',  new_list_path, class: 'btn btn-success' %>
